html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/fool.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logoImg {
  width:15%;
}

/* Intro */

.intro {
  padding: 50px 0;
  background-color: black;
  color:white;
}

/* Services */

.services {
  background: white;
  padding: 50px 0;
  color: black;
}

.ficon {
  width:200px;
  margin-right: 20px;
}

/* Portfolio */

.portfolio {
  background-color: black;
  color: white;
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
  text-align: center;
}

.portfolio-item a:hover {
  color:gray;
}

.portfolio-item h4{
  margin-bottom: 0;
  font-size: 14px;
}

.portfolio-item h5{
  margin-top: 0;
  color:gray;
}

a {
  text-decoration: none;
  color:#ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* Footer */

footer {
  padding: 100px 0;
}

/* Responsive */

@media (max-width: 768px) {
  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll; 
  }
}

/* Bottom Media Bar */
.media_bar {
  height: 65px;
  width:100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  font-size: 30px;
  border-top: 2px solid white;
}

#controls {
  position: absolute;
  height: 65px;
  margin-top: 15px;
  left: 5%;
}

#track_title {
  position: absolute;
  text-align: center;
  left: 10%; 
  right: 10%;
  font-size: 18px;
  margin-top: 10px;
}

#slider {
  position: absolute;
  left: 25%;
  right: 25%;
  margin-top: 45px;
}

.track {
  background-color: rgba(184, 195, 201, 0.3);
  height: 2px;
  display: block;
}

.bar {
  position: relative;
  height: 2px;
  top:0;
  background-color: white;
}

#progressBar {
  width:0%;
}

#time {
  font-size: 16px;
  position: absolute;
  margin-top: 35px;
  right:76%;
}

#total_time {
  font-size: 16px;
  margin-top: 35px;
  position: absolute;
  left:76%;
}